@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar p-2 @(sidebarCollapsed ? "sidebar-collapsed" : "")">
        <NavMenu @bind-Collapsed="sidebarCollapsed" />
    </div>

    <main>
        <MainHeader @bind-MenuCollapsed="sidebarCollapsed" />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool sidebarCollapsed;
}
